<div class="row">
    <h2>Contenido del archivo Subido con exito!</h2>
    
    <div class="form-group">
        <a href="/archivos" type="button" class="btn btn-success">Subir otro archivo</a>
    </div>

</div>